.page {
    margin-left: 100px;
    float: left;
    background: white;
    width: 100px;
    height: 100px;
    outline: 2px solid black;
}

.widgets {
    float: left;
    width: 200px;
    height: 400px;
    outline: 4px solid black;
}

.displayQB {
}
