.user {
    margin-left: 100px;
    float: left;
    width: 200px;
    height: 300px;
    outline: 2px solid black;
}

.player:nth-child(odd) {
    background-color: lightgray;
}

.central {
    text-align: center;
    float: left;
    width: 200px;
    height: 300px;
    outline: 2px solid black;
}
